$coffeeBrown: hsl(22, 30%, 39%);
$green: hsl(127, 43%, 75%);
$lightBrown: hsl(38, 21%, 54%);
$lightGrey: hsl(0, 0%, 77%);
$grey: hsl(0, 0%, 88%);
$tweetGrey: hsl(0, 0%, 95%);
$lightBrownBorder: hsl(48, 94%, 82%, 20%);

